<!DOCTYPE html>
<html lang="en"
       xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{fragments/head}"></th:block>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header>
        <nav class="main-nav">
            <ul>
                <li>
                    <a href="/users/login">Login</a>
                </li>
                <li>
                    <a href="/users/register">Register</a>
                </li>
            </ul>
        </nav>
    </header>

    Hello traveller!
</div>
<!-- Wrapper Ends -->'

</body>
<th:block th:insert="~{fragments/footer}"></th:block>
</html>
